<h1>
  Orders to be completed
</h1>
<div class="wrapper">
  <div class="box a">Table 1
    <li *ngFor="let hero of orders1">
      {{ hero.Name }}
    </li>
    <button type="button" (click)="clearData(1)">Order Ready</button>
  </div>
  <div class="box b">Table 2
      <li *ngFor="let hero of orders2">
        {{ hero.Name }}
      </li>
      <button type="button" (click)="clearData(2)">Order Ready</button>  
    </div>
  <div class="box c">
    Table 3
    <li *ngFor="let hero of orders3">
      {{ hero.Name }}
    </li>
    <button type="button" (click)="clearData(3)">Order Ready</button>
  </div>
  <div class="box d">
    Table 4
    <li *ngFor="let hero of orders4">
      {{ hero.Name }}
    </li>
    <button type="button" (click)="clearData(4)">Order Ready</button>
  </div>
  <div class="box e">
    Table 5
    <li *ngFor="let hero of orders5">
      {{ hero.Name }}
    </li>
    <button type="button" (click)="clearData(5)">Order Ready</button>
  </div>
  <div class="box f">
    Table 6
    <li *ngFor="let hero of orders6">
      {{ hero.Name }}
    </li>
    <button type="button" (click)="clearData(6)">Order Ready</button>
  </div>
  <div class="box g">
    Table 7
    <li *ngFor="let hero of orders7">
      {{ hero.Name }}
    </li>
    <button type="button" (click)="clearData(7)">Order Ready</button>
  </div>
  <div class="box h">
    Table 8
    <li *ngFor="let hero of orders8">
      {{ hero.Name }}
    </li>
    <button type="button" (click)="clearData(8)">Order Ready</button>
  </div>
 
</div>
